.activities {

    

    padding-top: 0px;

    &__title {
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        justify-content: space-between;

        @extend .list;

    }

    &__cover {
        position: relative;
    }

    &__sub-title {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: var(--activities-cover-color);

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-dominant-color);
    }
}
