.activities {

        padding-top: 0px;

    &__list {
        display: flex;
        justify-content: space-between;

    @extend .list;

    }

    &__cover {
        position: relative;
    }

    &__sub-title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: var(--activities-cover-color);

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-dominant-color);
    }
}
