.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background: var(--background-hero-color);
    
 
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
        url('../images/hero-img.jpg');
    background-repeat: no-repeat;
    box-sizing: cover;
    background-position: center;
    
    &__title {
        width: 696px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        color: var(--white-dominant-color);
    }
}


