body {
    font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
    font-size: 14px;
    background-color: var(--white-dominant-color);
    letter-spacing: 0.03em;
    color: var(--title-color);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}